@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #767c80 0%, #3a3b45 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}
.slide {
  height: 80vh;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all .3s ease-in-out 0s;
}
.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  padding: 10px;
  background-color: rgba(17, 17, 17, 0.214);
  border-radius: 34px;
}
.slide.active {
  flex: 10;
}
.slide.active h3 {
  opacity: 1;
  transition: opacity .3s ease .3s;
}